

.button-duplicate{
    height: 50px;
    outline: 0;
    border: none;
    border: 1px solid #5F30E2;
    color: #5F30E2;
    background: white;
    border-radius: 10px;
    transition: 0.5s;
}

.button-duplicate:hover{
    background: #e4dbfd;
}