
.input-duplicate{
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #9271EC;
    transition: 0.5s;
    padding: 10px;
}

.input-duplicate:focus{
    background: #F5F1FF;
    color: #02044A;
}
