<section class="container height-100">
    <div class="d-flex justify-content-center flex-column height-100">
        <div class="d-flex justify-content-center flex-column text-center">
            <h2 style="color: #02044A;">A quick and easy way to organize your photos</h2>
            <label style="color: #02044A;">Please enter the necessary information below to proceed with separating the photos</label>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <form class="width-45">
                <app-button-component 
                    type="text" 
                    label="Enter the path of the duplicate photos" 
                    placeholder="Navigate to the source folder of the duplicate photos">
                </app-button-component>
                <app-button-component 
                    type="text" 
                    label="Enter the path of the photos that will be moved" 
                    placeholder="Enter the path of the folder where you want to separate the duplicate photos">
                </app-button-component>
                <div class="d-flex flex-column w-100 mt-4">
                    <button class="button-duplicate">Submit</button>
                </div>
            </form>
        </div>
    </div>
</section>