<section class="container height-100">
    <app-spinner-component [show]="showSpinner"></app-spinner-component>
    <div class="d-flex justify-content-center flex-column height-100">
        <div class="d-flex justify-content-center flex-column text-center">
            <h2>A quick and easy way to organize your photos</h2>
            <label>Please enter the necessary information below to proceed with separating the photos</label>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <form class="width-45" [formGroup]="form">
                <app-input-component
                    type="text" 
                    label="Choose the folder you want to perform duplicate photo check" 
                    [control]="form.controls.sourceFolderPath">
                </app-input-component>
                <div class="d-flex flex-column w-100 mt-4">
                    <app-button-component
                        type="submit"
                        name="Submit"
                        (onClick)="separatePhotos()">
                    </app-button-component>
                </div>
            </form>
        </div>
        <div *ngIf="showAlert" class="d-flex justify-content-center mt-5">
            <app-alert-component
                class={{classAlert}}
                text={{textAlert}}>
            </app-alert-component>
        </div>
    </div>
</section>