
.input-duplicate{
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid gray
}

.input-duplicate:focus{
    background: #F5F1FF;
    outline: none;
    border: 1px solid #9271EC
}

label{
    color: #02044A;
    text-align: center;
    margin: 20px;
    font-size: 12px;
}

.button-select-folder{
    align-items: center;
    padding: 20px;
    transition: 0.5s;
    border-radius: 10px;
    transition: 0.5s;
    width: 100%;
}

.circle{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    transition: 0.5s;
}

svg{
    transition: 0.5s;
}

.w-80{
    width: 95%;
}