
.input-duplicate{
    height: 40px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #9271EC;
    transition: 0.5s;
    padding: 5px;
}

.input-duplicate:focus{
    background: #F5F1FF;
    color: #02044A;
}

label{
    color: #02044A;
    text-align: center;
    margin: 20px;
}

button-select-folder{
    align-items: center;
    padding: 20px;
}

input {
    margin: 20px;
}
